{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3 mb-3 justify-content-center">
            <h1 class="mt-5 mb-4">{{ movie.title }}</h1>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-6 justify-content-center d-flex">
                <img src="{{ movie.image }}">
            </div>
            <div class="col-6">
                {{ movie.description }}
            </div>
        </div>

        <div class="row mt-5 mb-3">
            <div class="col-12 justify-content-center d-flex">
                <a href="https://trailers.apple.com/trailers/home/rss/newtrailers.rss">Source</a>
            </div>
            <div class="col-12 justify-content-center d-flex">
                <a href="{{ url_for('main') }}">Back to homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
