{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{#{% set current_path = app.getRouteCollector().getRouteParser().urlFor('main') %}#}
{#{% set current_path = urlFor('main') %}#}
{#{{ urlFor }}#}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td><img src="{{ trailer.image }}"></td>
                    <td><a href="{{ url_for('movie', {'id': '1' }) }}">{{ trailer.title }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <h3 class="mt-5 mb-4">date: {{ "now"|date("d-m-Y") }}</h3>
        <h3 class="mt-5 mb-4">time: {{ "now"|date("h:m:s") }}</h3>
        <h3 class="mt-5 mb-4">controller class name: {{ controllerClassName }}</h3>
        <h3 class="mt-5 mb-4">controller method name: {{ controllerMethodName }}</h3>
    </div>
{% endblock %}
